@using GestorMapeos.CustomHelpers
@using GestorMapeos.Globalization.Views
@{
    ViewBag.Title = EstudioIntegracionStrings.LabelTitle;
    ViewBag.TitlePage = EstudioIntegracionStrings.LabelTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript{
    <script type="text/javascript" src="@Url.ContentNoCache("~/Globalization/Scripts/EstudioIntegracionStrings.js")"></script>
    <script type="text/javascript" src="@Url.ContentNoCache("~/Scripts/pages/EstudioIntegracion/List.js")"></script>
}
<div id="page-plan-estudio-listar">
    <div class="box-fieldset">
        <span class="field-title">@CommonStrings.LabelFiltros</span>
        <div id="box-filters" class="clearfix">
            <div class="box-fieldset">
                <span class="field-title">@CommonStrings.LabelLeyendaGestorUnir2</span>
                <div class="grid-100 mobile-grid-100">
                    <ul class="box-form">
                        <li>
                            <label for="txt-id-estudio" class="grid-15 mobile-grid-100">@EstudioIntegracionStrings.LabelIdEstudio</label>
                            <input id="txt-id-estudio" class="grid-15 mobile-grid-100" type="text" />
                        </li>
                        <li>
                            <label for="cbx-estudio" class="grid-15 mobile-grid-100">@EstudioIntegracionStrings.LabelEstudio</label>
                            <select id="cbx-estudio" class="grid-40 mobile-grid-100"></select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box-fieldset">
                <span class="field-title">@CommonStrings.LabelLeyendaERPAcademico2</span>
                <div class="grid-100 mobile-grid-100">
                    <ul class="box-form">
                        <li>
                            <label for="txt-id-plan-estudio" class="grid-15 mobile-grid-100">@EstudioIntegracionStrings.LabelIdPlanEstudio</label>
                            <input id="txt-id-plan-estudio" class="grid-15 mobile-grid-100" type="text" />
                        </li>
                        <li>
                            <label for="cbx-plan-estudio" class="grid-15 mobile-grid-100">@EstudioIntegracionStrings.LabelPlanEstudio</label>
                            <select id="cbx-plan-estudio" class="grid-40 mobile-grid-100"></select>
                        </li>
                        <li>
                            <div class="grid-100 mobile-grid-100">
                                <div class="box-fieldset-agrupador">
                                    <ul class="box-form">
                                        <li>
                                            <label for="cbx-titulo" class="grid-15 mobile-grid-100">@EstudioIntegracionStrings.LabelTitulo</label>
                                            <select id="cbx-titulo" class="grid-40 mobile-grid-100"></select>
                                        </li>
                                        <li>
                                            <label for="cbx-especializacion" class="grid-15 mobile-grid-100">@EstudioIntegracionStrings.LabelEspecializacion</label>
                                            <select id="cbx-especializacion" class="grid-40 mobile-grid-100"></select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="align-right">
            <button class="button" id="btn-buscar">@CommonStrings.LabelBuscar</button>
            <button class="button" id="btn-limpiar">@CommonStrings.LabelLimpiar</button>
        </div>
    </div>
    <div class="box-fieldset">
        <span class="field-title">@CommonStrings.LabelResultados</span>
        <div class="box-buttons">
            <button class="button" id="btn-crear">@CommonStrings.LabelCrear</button>
            <button class="button" id="btn-eliminar">@CommonStrings.LabelEliminar</button>
        </div>
        <table id="tb-estudio-integracion" class="display"></table>
    </div>
    @Html.Partial("_LeyendaConGestor")
</div>