@using GestorMapeos.CustomHelpers;
@using GestorMapeos.Globalization.Views;
@{
    ViewBag.Title = AsignaturaIntegracionStrings.LabelTituloPaginaListado;
    ViewBag.TitlePage = AsignaturaIntegracionStrings.LabelTituloPaginaListado;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript{
    <script type="text/javascript" src="@Url.ContentNoCache("~/Globalization/Scripts/AsignaturaIntegracionStrings.js")"></script>
    <script type="text/javascript" src="@Url.ContentNoCache("~/Scripts/pages/AsignaturaIntegracion/List.js")"></script>
}
<div id="page-asignatura-estudio-listar">
    <div class="box-fieldset">
        <span class="field-title">@CommonStrings.LabelFiltros</span>
        <div id="box-filters" class="clearfix">
            <div class="box-fieldset">
                <span class="field-title">@CommonStrings.LabelLeyendaGestorUnir2</span>
                <div class="grid-100 mobile-grid-100">
                    <ul class="box-form">
                        <li>
                            <label for="txt-id-asignatura" class="grid-15 mobile-grid-100">@AsignaturaIntegracionStrings.LabelIdAsignatura</label>
                            <input id="txt-id-asignatura" class="grid-15 mobile-grid-100" type="text" />
                        </li>
                        <li>
                            <label for="txt-id-estudio" class="grid-15 mobile-grid-100">@AsignaturaIntegracionStrings.LabelIdEstudio</label>
                            <input id="txt-id-estudio" class="grid-15 mobile-grid-100" type="text"/>
                        </li>
                        <li>
                            <div class="grid-100 mobile-grid-100">
                                <div class="box-fieldset-agrupador">
                                    <ul class="box-form">
                                        <li>
                                            <label for="cbx-estudio" class="grid-15 mobile-grid-100">@AsignaturaIntegracionStrings.LabelEstudio</label>
                                            <select id="cbx-estudio" class="grid-40 mobile-grid-100"></select>
                                        </li>
                                        <li>
                                            <label for="cbx-asignatura" class="grid-15 mobile-grid-100">@AsignaturaIntegracionStrings.LabelAsignatura</label>
                                            <select id="cbx-asignatura" class="grid-40 mobile-grid-100"></select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>                            
                    </ul>
                </div>
            </div>
            <div class="box-fieldset">
                <span class="field-title">@CommonStrings.LabelLeyendaERPAcademico2</span>
                <div class="grid-100 mobile-grid-100">
                    <ul class="box-form">
                        <li>
                            <label for="txt-id-asignatura-plan-erp" class="grid-15 mobile-grid-100">@AsignaturaIntegracionStrings.LabelIdAsignaturaPlanErp</label>
                            <input id="txt-id-asignatura-plan-erp" class="grid-15 mobile-grid-100" type="text" />
                        </li>
                        <li>
                            <label for="txt-id-plan-estudio-erp" class="grid-15 mobile-grid-100">@AsignaturaIntegracionStrings.LabelIdPlanEstudioErp</label>
                            <input id="txt-id-plan-estudio-erp" class="grid-15 mobile-grid-100" type="text"/>
                        </li>
                        <li>
                            <div class="grid-100 mobile-grid-100">
                                <div class="box-fieldset-agrupador">
                                    <ul class="box-form">
                                        <li>
                                            <label for="cbx-plan-estudio-erp" class="grid-15 mobile-grid-100">@AsignaturaIntegracionStrings.LabelPlanEstudioErp</label>
                                            <select id="cbx-plan-estudio-erp" class="grid-40 mobile-grid-100"></select>
                                        </li>
                                        <li>
                                            <label for="cbx-asignatura-plan-erp" class="grid-15 mobile-grid-100">@AsignaturaIntegracionStrings.LabelAsignaturaPlanErp</label>
                                            <select id="cbx-asignatura-plan-erp" class="grid-40 mobile-grid-100"></select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="align-right">
            <button class="button" id="btn-buscar">@CommonStrings.LabelBuscar</button>
            <button class="button" id="btn-limpiar">@CommonStrings.LabelLimpiar</button>
        </div>
    </div>
    <div class="box-fieldset">
        <span class="field-title">@CommonStrings.LabelResultados</span>
        <div class="box-buttons">
            <button class="button" id="btn-crear">@CommonStrings.LabelCrear</button>
            <button class="button" id="btn-eliminar">@CommonStrings.LabelEliminar</button>
        </div>
        <table id="tb-asignatura-estudio-integracion" class="display"></table>
    </div>
    @Html.Partial("_LeyendaConGestor")
</div>