@using GestorMapeos.Globalization.Views;
@{
    Layout = null;
}
<div id="popup-periodo-estudio-asignatura-crear" class="grid-container">
    <div class="box-fieldset">
        <span class="field-title">@CommonStrings.LabelFiltros</span>
        <div id="box-filters" class="clearfix">
            <div class="grid-100 mobile-grid-100">
                <ul class="box-form">
                    <li>
                        <label for="txt-id-per-est-asig" class="grid-20 mobile-grid-100">@PeriodoEstudioAsignaturaIntegracionStrings.LabelIdPeriodoEstudioAsignacion</label>
                        <input id="txt-id-per-est-asig" class="grid-15 mobile-grid-100" type="text"/>
                    </li>
                    <li>
                        <div class="grid-100 mobile-grid-100">
                            <div class="box-fieldset-agrupador">
                                <ul class="box-form">
                                    <li>
                                        <label for="cbx-periodo-matriculacion" class="grid-20 mobile-grid-100">@PeriodoEstudioAsignaturaIntegracionStrings.LabelPeriodoMatriculacion</label>
                                        <select id="cbx-periodo-matriculacion" class="grid-70 mobile-grid-100"></select>
                                    </li>
                                    <li>
                                        <label for="cbx-estudio" class="grid-20 mobile-grid-100">@PeriodoEstudioAsignaturaIntegracionStrings.LabelEstudio</label>
                                        <select id="cbx-estudio" class="grid-70 mobile-grid-100"></select>
                                    </li>
                                    <li>
                                        <label for="cbx-asignatura" class="grid-20 mobile-grid-100">@PeriodoEstudioAsignaturaIntegracionStrings.LabelAsignatura</label>
                                        <select id="cbx-asignatura" class="grid-70 mobile-grid-100"></select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="align-right">
            <button class="button" id="btn-buscar">@CommonStrings.LabelBuscar</button>
            <button class="button" id="btn-limpiar">@CommonStrings.LabelLimpiar</button>
        </div>
    </div>
    <div class="box-fieldset">
        <span class="field-title">@CommonStrings.LabelResultados</span>
        <table id="tb-periodo-estudio-asignatura" class="display"></table>
    </div>
</div>